

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%; /* if you don't want it to take up the full screen, reduce this number */
    overflow: hidden;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.65) 100%), url("../images/hero-image.jpg") no-repeat center center scroll;
}
.hero-text-title {
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 11vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
  }

.hero-button {
    background: #b6d7a8;
    transition: background ease .25s;
    border-radius: 50px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}
.hero-button:hover {
    background: #7BB5FF;
}
.hero-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.hero-section {
  padding-top: 5vh;
  padding-right: 20vh;
  padding-left: 20vh;
  padding-bottom: 5vh;
  text-align: center;
}

.hero-section-title {
  text-align: center;
  font-weight: bold;
  font-size: 5vmin;
  margin-bottom: 2vh;
}

.carousel-section {
  height: 380px;
  width: 80vw;
  background-color: #7BB5FF;
  text-align: center;
  vertical-align: bottom;
}

.carousel-image {
  max-width: 30vw;
  max-height: 160px;
  margin-top: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}